<section class="join-us">
    <div class="container">
        <div class="join-us__inner d-flex">
            <picture>
                <source srcset="images/join-img.avif" type="image/avif">
                <source srcset="images/join-img.webp" type="image/webp">
                <img class="join-us__img" src="images/join-img.jpg" width="540" height="489" alt="Alt text">
            </picture>
            <div class="join-us__box">
                <h2 class="join-us__title title-accent">
                    join us
                </h2>
                <p class="join-us__text">
                    Sign up and get 10% discount on your first purchase!
                </p>
                <form class="join-us__form" action="">
                    <label for="join-us__text"></label>
                    <input class="join-us__input" id="join-us__text" type="text" placeholder="First Name">
                    <label for="join-us__email"></label>
                    <input class="join-us__input" id="join-us__email" type="email" placeholder="Email">
                </form>
                <button class="join-us__btn link-accent" type="submit">get 10%</button>
                <p class="join-us__form-caption">
                    *By compleating this form you are signing up to receive our emails and can unsubscribe at any time.
                </p>
            </div>
        </div>
    </div>
</section>