<section class="new-collection">
  <div class="container">
    <div class="new-collection__inner d-flex">
      <div class="new-collection__content">
        <h2 class="new-collection__title title-accent">NEW COLLECTION</h2>
        <p class="new-collection__text">Discover our new collection of wedding dresses that impresses with its beauty
          and elegance.</p>
        <p class="new-collection__text">Each dress in this collection is crafted with love for detail and expertly
          executed to the highest standards of quality.</p>
        <p class="new-collection__text">Regardless of your style and preferences, in our collection, you will find the
          dress of your dreams – from classic silhouettes to modern and original designs.</p>
        <a class="new-collection__btn btn-muted" href="#">View the collection</a>
      </div>
      <picture class="new-collection__img">
        <source srcset="images/new-collection-1.avif" type="image/avif">
        <source srcset="images/new-collection-1.webp" type="image/webp">
        <img src="images/new-collection-1.jpg" width="347" height="564" alt="elegance dress">
      </picture>
      <div class="new-collection__box d-flex">
        <picture class="new-collection__box-img">
          <source srcset="images/new-collection-2.avif" type="image/avif">
          <source srcset="images/new-collection-2.webp" type="image/webp">
          <img src="images/new-collection-2.jpg" width="404" height="450" alt="wedding dress">
        </picture>
        <p class="new-collection__caption">Allow yourself to be enchanted by our wedding dresses and create a unique
          look for your most important day.</p>
      </div>
    </div>
  </div>
</section>