<section class="our-advantages">
  <div class="container">
    <div class="our-advantages__wrapper d-flex">
      <picture>
        <source srcset="images/our-advantages.avif" type="image/avif">
        <source srcset="images/our-advantages.webp" type="image/webp">
        <img class="our-advantages__img" src="images/our-advantages.jpg" width="378" height="460"
          alt="advantages image">
      </picture>
      <div class="our-advantages__inner">
        <img class="our-advantages__decor" src="images/our-advantages-decor.svg" width="326" height="548"
          alt="decor flower">
        <h2 class="our-advantages__title title-accent">our advantages</h2>
        <ul class="our-advantages__list">
          <li class="our-advantages__item">
            The latest collections
          </li>
          <li class="our-advantages__item">
            15 years of experience
          </li>
          <li class="our-advantages__item">
            Quality guarantee
          </li>
          <li class="our-advantages__item">
            International brands
          </li>
          <li class="our-advantages__item">
            Individual tailoring
          </li>
          <li class="our-advantages__item">
            Free shipping
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>