<section class="our-blog">
  <div class="container">
    <div class="our-blog__inner">
      <div class="our-blog__content">
        <h2 class="our-blog__title title-accent">our blog</h2>
        <p class="our-blog__text">Luxurious Bridal Haven's blog is about inspiration and up-to-the-minute information
          from the wedding fashion world. Here you can find collection reviews, trunk shows announcements, guides, and
          lifehacks for wedding preparation.</p>
        <a class="our-blog__btn-link btn-muted" href="#">Show more</a>
      </div>
      <picture>
        <source srcset="images/our-blog1.avif" type="image/avif">
        <source srcset="images/our-blog1.webp" type="image/webp">
        <img class="our-blog__img" src="images/our-blog1.jpg" width="279" height="369" alt="dress on the hanger">
      </picture>
      <div class="our-blog__box our-blog__box-right">
        <picture>
          <source srcset="images/our-blog2.avif" type="image/avif">
          <source srcset="images/our-blog2.webp" type="image/webp">
          <img class="our-blog__box-img" src="images/our-blog2.jpg" width="329" height="227" alt="bride in the dress">
        </picture>
        <a class="our-blog__link" href="#">When to start shopping for your wedding dress</a>
        <p class="our-blog__box-date">Tuesday, 16 April 2024</p>
      </div>
      <div class="our-blog__box our-blog__box-bottom">
        <picture>
          <source srcset="images/our-blog3.avif" type="image/avif">
          <source srcset="images/our-blog3.webp" type="image/webp">
          <img class="our-blog__box-img" src="images/our-blog3.jpg" width="448" height="197" alt=" bride in the dress">
        </picture>
        <a class="our-blog__link" href="#">Top 6 wedding dress trends brides should know</a>
        <p class="our-blog__box-date">Monday, 20 May 2024</p>
      </div>
    </div>
  </div>
</section>